* {
	margin: 0;
	padding: 0;
}

.container {
	text-align: center;

	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-template-columns: 1fr 4fr;
	gap: 4px;
}

.container div {
	padding: 15px;
	font-size: 32px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}

.header {
	background-color: #393f4d;

	grid-column: 1 / -1;

	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;

	.logo {
		margin-right: 100px;
	}
}

.menu ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	list-style: none;

	li {
		font-size: 16px;
	}
}

.sidebar {
	display: grid;
	gap: 50px;
	background-color: #c50208;
	grid-row: 2 / -2;

	.photo {
		background-color: white;
		color: black;
		font-size: 12px;
		font-weight: normal;
		border-radius: 10px;

		display: grid;
		align-items: center;
	}

	.side-content {
		background-color: white;
		color: black;
		font-size: 16px;
		font-weight: normal;
		align-content: center;
	}
}

.nav {
	background-color: #c50208;
}

.nav ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	li {
		font-size: 16px;
		text-transform: uppercase;
	}
}

.article {
	background-color: #bccbde;

	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article p {
	font-size: 18px;
	font-family: sans-serif;
	color: white;
	text-align: left;
}

.article .card {
	background-color: #ffffff;
	color: black;
	text-align: center;
	height: 200px;
}

.card p {
	color: black;
	font-weight: normal;
	font-size: 14px;
}

.card .title {
	font-size: 18px;
	text-align: center;
}

.footer {
	background-color: #393f4d;

	grid-column: 1 / -1;
}

.footer p {
	font-size: 13px;
	font-weight: normal;
}
